*{
    box-sizing: border-box;
}

body {

    background: #FFEFD5;

    font-family: Open Sans, sans-serif


}

header{
    
    image-rendering: auto;
    height: 50vh;
    border-bottom: 3px solid rgb(240, 193, 39);
    margin-bottom: 10px;
      
}

header {
    background-image: linear-gradient(rgba(178, 227, 247, 0.507), rgba(248, 171, 244, 0.404)),
                  url("imagen/mulheres.png");
}



@media (max-width: 768px){

    header{

        margin-bottom: 20px;
        height: 100px;
    }

}



h1 {

    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 10px;
}

@media (max-width: 768px){
    h1{
        font-size: 36px;
    }
}


p {
    text-align: center;
}

section{

    margin: 0 auto;
    display: block;
    max-width: 1024px;
    width: 100%;
}

.card{

    display: inline-block;
    margin: 10px;
    border: 4px solid rgb(245, 217, 62);
    border-radius: 10px;
    vertical-align: top;
    max-height: 100%;
}

@media (max-width: 768px){
    .card {
        display: block;
        margin: 20px 10px;
    }
}

.card img{
    display: block;
    width: 300px;
    height: 300px;
    border-radius:10px ;

}

@media( max-width: 768px){
    .card details{
        width: 100%;
    }
}



.card details{
    width: 300px;
    height: auto;
    display: inline-block;
}

.card details summary{
    font-size: 18px;
    padding: 10px;

}

@media ( max-width: 768px){
    .card details summary {
        font-size:  16px;
    }
}

.card details p{
    padding:  12px;
}

@media (max-width: 768px){
    .card details p {
         font-size: 14px;
    }
}

.card datalist blockquote{
    color:  #777;
    font-style: italic;
}



